@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




.mainDiv {
    display: flex;
    width: 100%;
    margin-top: 50px;
    padding-bottom: 100px;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-color: #F0EAF0;
}

.divTitulo {
    display: flex;
    width: 100%;
    align-items: center; 
    justify-content: center;
    margin-top: 100px;
    flex-direction: column;
}

.divTitulo > h1 {
    font-family: Urbanist;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 101.5%;
    text-align: center;
    letter-spacing: 0.095em;
    color: #2E2E2E;
    width: 100%;
    margin-top: 15px;
}

.divTitulo > h3 {
    text-align: center;
    font-family: Urbanist;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 101.5%;
    letter-spacing: 0.185em;

    color: #828282;
    
}


.slider{
    display: flex;
    width: 100%;
    height: 100%;
}


.swiperDepoimentoPrincipal{
    width: 100%;
    height: 100%;

}
.swiperDepoimento {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 500px;
    width: 100%;
}


.swiper-pagination-bullet{
    background: var(--swiper-pagination-bullet);
}







@media screen and (max-width: 768px) {

    .divTitulo{
        /* margin-bottom: -80px; */
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 40px;
    }

    .swiperDepoimento{
        flex-wrap: wrap;
        height: 100%;
    }


    .divTitulo > h1{
        text-align: left;
        font-size: 25px;
    }

    .divTitulo > h3 {
        text-align: left;
        font-size: 18px;

    }


    
}


