@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




.main {
    /* background-image: url('./../images/texture-gelo.svg'); */
    background-position: center;
    
}


.menu {
    display: flex;
    justify-content: space-between;
    z-index: 99;
    width: 100%;
    height: 120px;
    position: fixed;
    background-color: rgba(244,244,244,0.3);
    
}

.menu > .menubar {
    display: none;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
    flex-shrink: 0;
    cursor: pointer;
    opacity: 0.7;
}


.menu > ul {
    width: contain;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 50px;
    flex-shrink: 1;
    /* gap: 50px; */
    padding-top: 50px;
    /* margin: 0; */
    white-space: nowrap;
    
}


.menu > ul > a {
    font-family: Urbanist, sans-serif;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    padding: 10px 30px 10px 30px;
    border-radius: 9px;
}


.menu > ul > a:last-child {
    background-color: #AE8FAF;
    
}

.menu > .logoDiv {
    display: flex;
    flex-shrink: 0;
    margin: 0;
    padding-left: 70px;
    margin-top: 10px;
}

.logoDiv > img {
    width: 80%;
}


.divPrincipal {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
   
}


.div {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 60%;
    padding-left: 70px;
}

.div > p {
    font-family: Urbanist, sans-serif;
    margin: 0;
    color: #000000;
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 3px;

}
.div > h1 {
    font-family: Urbanist, sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 117%;
    letter-spacing: 3px;
    color: #2E2E2E;
    margin: 0;
    margin-top: 15px;
}

.div > h3 {
    font-family: Urbanist, sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 30px 0px 30px 0px;
    letter-spacing: 2px;
    line-height: 150%;
    font-size: 20px;
    max-width: 700px;


}

.div > button {
    font-family: Urbanist, sans-serif;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
    padding: 15px 35px 15px 35px;
    text-align: center;
    border-radius: 9px;
    background-color: #AE8FAF;
    outline: none;
    border: none;
    color: white;
    transition: 0.4s;
}

.div > button > a {
    color: white;
}

.div > button:hover {
    box-shadow: 8px 5px 30px rgba(174, 143, 175, 1);
    
}


.divFoto {
    width: 40%;
    /* height: 100vh; */
    height: 100%;
}

.divFoto > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}









@media screen and (max-width: 1000px){

    .menu {
        background-color: rgba(244,244,244, 0.8);
        position: fixed;
    }

    .menu > ul {
        display: none;
    }

    .menu > .menubar{
        display: flex;
        
    }


    .divPrincipal{
        justify-content: center;
        flex-wrap: wrap;
    }

    .div{
       width: 100%;
        z-index: 10;
        padding-top: 70px;
        justify-content: flex-start;
        padding-left: 40px;
    }


    .div > h1 {
        font-size: 40px;
        width: 90%;
    }

    .div > h3 {
        font-size: 18px;
        width: 90%;
    }

    .div > p {
        font-size: 12px;
        letter-spacing: 3px;
    }

    .menu > .logoDiv{
        padding-left: 40px;
        margin-top: 0;
        
    }

    .logoDiv > img {
        width: 60%;
    }

    .divFoto{
        width: 100%;
        position: absolute;
        z-index: 0;
        opacity: 0.7;
        height: 100%;
    }

    .divFoto > img {
        object-position: 0px -100px;
    }

}