@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.divPrincipal {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* padding-left: 80px;
    padding-right: 80px; */
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 200px;
    justify-content: center;
    align-items: center;
}



.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    
}


.titulo > h1 {
    font-family: Urbanist;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 101.5%;
    text-align: left;
    letter-spacing: 0.095em;
    color: #2E2E2E;
    margin-top: 15px;
}


.titulo > h3 {
    text-align: left;
    font-family: Urbanist;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 101.5%;
    letter-spacing: 0.185em;

    color: #828282;
    
}


.textoEfoto {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    justify-content: center;
    /* flex-wrap: wrap-reverse; */
}



.foto {
    max-width: 800px;
   width: 100%;
}

.foto > img {
    width: 100%;
    /* opacity: 0.7; */
    object-position: center;
}


.divTexto{
    max-width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 70px;
    justify-content: center;
    gap: 60px;
    width: 100%;
    flex-grow: 0;
}

.divTexto > p {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.095em;
    padding-top: 40px;
    color: #494949;
    text-align: left;
}

.divTexto > a > button {
    background: #AE8FAF;
    box-shadow: -3.36475px -3.36475px 4px rgba(255, 255, 255, 0.25), 0px 4px 16px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    /* max-width: 300px; */
    width: 100%;
    height: 60px;
    border: none;
    color: white;
    font-family: 'Urbanist';
    text-transform: uppercase;
    transition: 0.2s;
    cursor: pointer;
}

.divTexto > a > button:hover {
    box-shadow: 8px 5px 30px rgba(174, 143, 175, 1);
}

.divTexto > a {
    color: white;
    max-width: 300px;
}



@media screen and (max-width: 768px) { 

    .titulo{
        padding-left: 0;
        
    }

    .textoEfoto{
        flex-wrap: wrap-reverse;
        padding-right: 20px;
        
    }

    .foto{
        width: 100%;
    }

    .divPrincipal{
        padding-left: 20px;
        padding-right: 10px;
    }


    .divTexto {
        padding-right: 0;
        gap: 20px;
    }

    .divTexto > a {
        max-width: 100%;
    }

    .divTexto > p {
        padding-top: 20px;
    }

    .titulo > h3 {
        padding-top: 20px;
        font-size: 16px;
    }
    
}