

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: 100%;
    max-width: 600px;
    margin: 200px auto;
    // margin-top: 200px;

    h1 {
        text-align:  left;
        padding-left: 30px;
        
    }


    p {
       margin: 0px 0px 20px 20px;
       max-width: 400px;
    }

    .formContato {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 400px;
        width: 100%;
       
    }

    input {
        padding: 15px 20px;
        width: 100%;
        max-width: 400px;
        margin: 10px 0px 10px 20px;
        font-size: 14px;
        color: rgb(80, 80, 80);
        border-radius: 25px 25px;
        border: none;
        background-color: rgb(243, 240, 240);
        outline: none;
    }
}




// contato


.span {
    display: flex;
    // width: 100%;
    align-items: center;
    justify-items: flex-start;
    


    p {
        align-self: center;
        margin: auto;
        margin-left: 20px;
    }
}