@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



 ::placeholder {
    color:rgba(173, 173, 173, 0.5)
}


html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: rgba(239, 239, 239, 0.7);
}

* {
    box-sizing: border-box;
    
}


body {
    max-width: 100%;
}



a {
    text-decoration: none;
    color:rgb(80, 80, 80)
}




.form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    margin: 200px 0px 0px 0px;
    padding-left: 10px;

    h1 {
        text-align:  left;
        padding-left: 15px;
        font-family: Caudex;
        font-size: 45px;
        width: 100%;
    }


    p {
       margin: 60px 10px 35px 20px;
       max-width: 400px;    
       text-align: justify;
       width: 100%;
    }

    .formContato {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 450px;
        width: 100%;


        // input:last-of-type {
        //     height: 200px;
        //     text-align: top;
        //     margin-bottom: 20px;
            
        // }
       
            textarea {
                height: 100px;
                max-width: 400px;
                padding: 20px 20px;
                width: 100%;
                margin: 10px 0px 20px 20px;
                font-size: 14px;
                color: rgb(80, 80, 80);
                border-radius: 25px 25px;
                border: none;
                background-color: rgb(243, 240, 240);
                outline: none;

            }


    }

    input {
        padding: 15px 20px;
        width: 100%;
        max-width: 400px;
        margin: 10px 0px 10px 20px;
        font-size: 14px;
        color: rgb(85, 85, 85);
        border-radius: 25px 25px;
        border: none;
        background-color: rgb(243, 240, 240);
        outline: none;
        box-shadow: -4px -4px 4px rgba(255, 255, 255, 0.5), 0px 4px 4px rgba(63, 63, 63, 0.15);

       

        
    }


    
}




// contato component


.span {
    display: flex;
    width: 100%;
    align-items: center;
    justify-items: flex-start;
    


    p {
        align-self: center;
        margin: auto;
        margin-left: 5px;
        padding: 10px;
        white-space: nowrap;
        font-size: 14px;
    }
}




// hero-section design

.heroSection {
    width: 100%;
}




// menu section



.divMenu {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;

    @media screen and (max-width: 768px){
        display: none;
    }
}

.div-menu-mobile {
    display: none;
    margin: 0;
    background-color: rgba(224, 203, 225, 0.5);
    // padding: 0;
    // border: 0;
    // right: 0;
    // left: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    

    @media screen and (max-width: 768px){
        display: flex;
        margin: 0;
        padding: 0;
        right: 0;
        z-index: 999;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        top: 0;
        height: 100px;
        overflow-x: hidden;
        position: fixed;
        

    }



}

.menuBars {
    width: 20px;
    padding: 10px;
    cursor: pointer;

    &:hover {
       
        
    }

    &:onclick {

    }
}

.menuDesativado {
    display: none;
}

.menuAtivo {
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-top: 100px;
    background-color: rgba(241, 241, 241, 0.8);
    z-index: 99999;
    position: fixed;
    width: 100%;
}

.ul-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    box-sizing: border-box;
    

    li{
        
        margin: 0;

        &:hover{
            background-color: rgba(253, 230, 250, 0.8);
            color: white;
        }
    }
}









// < page template section >


.page {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 120px;
    width: 100%;
    

    @media screen and (max-width: 768px) {
        
        
        
    }

    @media screen and (max-width: 500px) {
        // justify-content: flex-end;
        margin-top: 50px;
    }


    .page-image {
        max-width: 500px;
        width: 100%;
        display: flex;
               


        @media screen and (max-width: 768px) {
            max-width: 350px;
            margin-left: 20px;
        }
    }


    .page-content {
        max-width: 400px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 500px;
        width: 100%;
        margin-left: 20px;
        margin-right: 100px;


        @media screen and (max-width: 768px) {
            margin-right: 0;
        }

        h1 {
            font-size: 3.5rem;
            font-family: Caudex;
            font-weight: 700;
            font-style: normal;
            line-height: 90%;
            letter-spacing: 1px;
            margin-bottom: 20px;
            color:rgb(63, 63, 63);

            @media screen and (max-width: 768px) {
                font-size: 2.5rem;
            }
        }


        h3 {
            margin-top: 0;
            margin-bottom: 30px;
            font-size: 25px;
            font-weight: 500;
            font-family: Caudex;
            color:rgb(85, 85, 85);


            @media screen and (max-width: 768px) {
                font-size: 1.2rem;
            }
        }


        p {
            font-family: Roboto;
            font-weight: 400;
            font-size: 18px;
            max-width: 500px;
            line-height: 30px;
            color:rgb(63, 63, 63);
            


            @media screen and (max-width: 768px) {
                font-size: 0.9rem;
                max-width: 350px;
            }
        }

        



    }




}


// </ page template section >










// < areas de atuação componente >

.atuacao-div {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 100px;


    h2 {
        font-family: 'Urbanist';
        font-style: normal;
        font-weight: 100;
        font-size: 20px;
        line-height: 101.5%;
        /* or 20px */

        letter-spacing: 0.185em;

        color: #2E2E2E;
        margin-bottom: 0;

    }


    p{ 
        margin-bottom: 70px;
        padding: 20px;
        font-family: 'Urbanist';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 101.5%;
        /* or 30px */

        text-align: center;
        letter-spacing: 0.095em;

        color: #2E2E2E;
    }


    .card-style {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        max-width: 1200px;
    }
}


       
       
.swiper-atuacao-principal {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;

    .swiper-atuacao {
        display: flex;
        justify-content: space-evenly;
        gap: 50px;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
        width: 70%;
        margin-left: 0;
        margin-right: 0;
        margin-right: 40px;
        

        @media screen and (max-width: 768px) {
            flex-wrap: wrap;
            // overflow-y:visible;
            // width: 2000px;
            gap: 20px;
        }

      
     }


}
     

    
 

// < / areas de atuação componente >



// < card areas de atuação  > 


.card-div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    // align-items: flex-start;
    justify-content: space-between;
    max-width: 280px;
    height: 350px;
    text-align: center;
    border: 1px solid black;
    margin: 10px;
    margin-bottom: 50px;
    padding: 10px 10px;
    border: none;
    box-shadow: 0px 4px 4px rgba(173, 173, 173, 0.25);
    border-radius: 9px;
    padding: 45px 45px 20px 45px;
    flex-shrink: 0;
    

    .card-icon {
        width: 40px;
    }



    @media screen and (max-width: 768px) {
       
    }


    h1 {
        font-size: 20px;
        margin: 0;
        width: 100%;
        font-family: Urbanist, sans-serif;
        text-align: left;
        padding: 0;

        font-family: 'Urbanist';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 113.5%;
        letter-spacing: 0.095em;
    }


    p {
        padding: 0px;
        margin-top: 10px;
        text-align: left;
        font-family: 'Urbanist';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 136.5%;
        

        letter-spacing: 0.095em;

        color: #181818;
    }
}




// < / card areas de atuação  >





// < depoimentos >

.swiper-depoimento-principal {
    width: 100%;
    height: 100%;


    .swiper-depoimento {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        height: 500px;


        @media screen and (max-width: 768px) {
            height: 1000px;
            flex-wrap: wrap;
        }
    }   
}






// < / depoimentos> 








// < about page >


.about-hero {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(252, 249, 224, 0.7);
    height: 90%;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 100px;
    padding: 20px;

    .about-hero-content {
        max-width: 400px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        h1 {
            font-size: 4.5rem;
            font-family: Caudex;
            font-weight: 500;
            font-style: normal;
            // line-height: 90%;
            line-height: 80px;
            letter-spacing: 1px;
            margin-bottom: 20px;
            color:rgb(49, 49, 49);
            margin-top: 0;

            @media screen and (max-width: 768px) {
                font-size: 3rem;
                margin-top: 20px;
                line-height: 50px;
            }
        }


        h3 {
            margin-top: 0;
            margin-bottom: 30px;
            font-size: 25px;
            font-weight: 300;
            letter-spacing: 0.5px;
            font-family: Caudex;
            color:rgba(117, 117, 117, 0.8);
            line-height: 30px;

            @media screen and (max-width: 768px) {
                font-size: 1.2rem;
            }
        }
    }


    .about-hero-picture {
        opacity: 0.95;

       @media screen and (max-width: 768px) {
        width: 450px;
        top: 100px;
    
    }

    } 


}


section {
    width: 100%;
}

.section-about {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    margin-top: 100px;
    // margin: 40px auto;
    // position: relative;
    // margin-left: 20px;

    .section-info {
        width: 100%;
       max-width: 900px;
        margin-left: 10px;
    

        h2 {
            margin-bottom: 0px;
            font-size: 3em;
        }



        @media screen and (max-width: 768px) {
            h2 {
                margin-left: 20px;
                font-size: 2.5em;
            }
            
            small {
                margin-left: 20px;
            }
        
        }
        
    }

    .section-picture {
        width: 500px;


        @media screen and (max-width: 768px) {
            width: 350px;
            
        
        }
        
    }

    

}

.section-wrap {
    display: flex;
    width: 100%;
    max-width: 1000px;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    // margin-left: 50px;
}



.section-bio {
    max-width: 450px;
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;

    @media screen and (max-width: 768px) {
        height: 250px;
        justify-content: center;
    
    }
}


.button-about {
    
    border-radius: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    background: rgb(247, 239, 174);
    padding: 15px 40px;
    border-radius: 25px 25px; 
    max-width: 200px;
}








// </ about page >






// < blog page >

.blog-page {
    display: flex;
     align-items: center;
     flex-wrap: wrap;
     justify-content: space-around;
     width: 100%;
     max-width: 1300px;
     margin: 0 auto;
}


.search-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

    .div-input {
        width: 60%;
        position: relative;
        display: flex;
        justify-content: center;

        img {
            position: absolute;
            right: 87%;
            top: 30%;
            opacity: 0.5;
       }

        @media screen and (max-width: 768px) {
            width: 90%;
        
            img {
                right: 90%;              
           }
        }

        button {
            border-radius: 25px;
            padding: 5px 30px 5px 30px;
            margin-left: 5px;
            cursor: pointer;
            color:rgb(80, 80, 80);
            border-style: none;
            font-size: 14px;
            background-color: rgba(174, 143, 175, 0.7);
            transition: 0.3s;
            box-shadow: 3px 3px 5px #aaaaaa, 2px 2px 5px rgb(255, 255, 255) inset;

            &:hover {
                box-shadow: 5px 3px 15px rgb(174, 143, 175), 2px 2px 5px rgb(255, 255, 255) inset;
            }

            &:active {
                box-shadow: 5px 3px 15px rgb(174, 143, 175),-3px 0px 3px rgb(255, 255, 255) inset;
            }

        }

    }



    p {
        margin: 0;
        margin-bottom: 5px;
        color: #bdbdbd;
        font-size: 14px;
        padding-right: 15px;
        padding-left: 5px;
    }


    input {
        width: 70%;
        padding: 10px 20px 10px 70px;
        border-radius: 20px;
        border: 2px solid #ccc;
         -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;

      

      
    }
}

.search-input {
    border: none;
    

    &:focus {
        border: 3px solid rgb(254, 235, 255);
        outline: none;
    }
}


.search-hashtags {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 10px 30px 30px 30px;
    width: 90%;


    .tags{
        display: flex;

        img {
            opacity: 0.6;
        }
        
    }

    span {
        padding: 2px;
        transition: 0.3s;
        border-radius: 20px;
        border: 1px solid white;

        &:hover{
            background-color: #FEFFD9;
            border: 1px solid #e0e0e0;
        }
    }
}


// < / blog page >












// < blog post >

.blog-post {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
  
}


.blog-post-header {
   margin-top: 50px;
//    max-width: 1000px;
   display: flex;
   flex-direction: column;

//    margin-left: 20px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    align-items: flex-start;

    .blog-post-header-avatar {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin-bottom: 20px;
    }




     h1 {
            font-size: 4.5rem;
            font-family: Caudex;
            font-weight: 500;
            font-style: normal;
            // line-height: 90%;
            line-height: 80px;
            letter-spacing: 1px;
            margin-bottom: 20px;
            color:rgb(49, 49, 49);
            margin-top: 0;
            // width: 100%;

            @media screen and (max-width: 768px) {
                font-size: 3rem;
                margin-top: 20px;
                line-height: 50px;
            }
        }


        img {
            width: 100%;
            max-width: 1000px;
        }






}

.blog-post-body{
    width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    

    p {
        width: 100%;
        word-wrap: break-word;
        line-height: 40px;
        font-size: 18px;

        @media screen and (max-width: 768px) {
            font-size: 13px;
            
        }
    }

}


.posts-antes-depois-header {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    text-align: center;
}




.posts-antes-depois {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;   
    margin: 0 auto;
    padding: 20px;

    
    
    @media screen and (max-width: 768px) {
        justify-content: center;
        max-width: 500px;
    }

    @media screen and (max-width: 600px) {
        width: 350px;
    }

}

.post-antes {
    display: flex;
    flex-direction: column;
    
    .div-foto{
        width: 400px;
        height: 300px;
    
        @media screen and (max-width: 768px) {
            width: 300px;
        }


    }

    img {
        width: 100%;
        object-fit: cover;
        height: 100%;
    }

    h3{
        margin:0;
        max-width: 350px;
        font-size: 1.5em;

    }
}



.post-depois {
    display: flex;
    flex-direction: column;
   
    .div-foto{
        width: 400px;
        height: 300px;

        @media screen and (max-width: 768px) {
            width: 300px;
        }
    }

    img {
        // max-width: 350px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    h3{
        margin:0;
        max-width: 350px;
        font-size: 1.5em;
    }
}

.span-bio {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 92%;
    height: 2px;
    background-color: #CACACA;
}


.blog-post-bio {
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    
   

    .blog-post-author {
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .blog-author-name {
            font-family: Monteserrat;
            font-size: 25px;
            font-weight: medium;
        }

        p {
            margin: 0;
            font-family: Monteserrat;
            font-size: 15px;
            font-weight: lighter;
            color: #2B2B2B;
            padding-bottom: 10px;
        }
    }
}



// < / blog post >






// < blog card >


.blog-card {
    width: 400px;
    height: 550px;
    padding: 20px;
    display: flex;
    flex-direction: column; 
    align-items: space-around;
    justify-content: flex-start;
    
    @media screen and (max-width: 768px) {
        width: 100%;
    }
    

    small {
        color: rgb(139, 139, 139);
        font-size: 12px;
        padding: 12px 0px 12px 0px;
    }

    h3 {
        margin: 0;
        font-family: Caudex;
        font-weight: 600;
        text-align: left;
        font-size: 1.8em;
        padding-bottom: 10px;
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        
    }


    p {
        font-size: 12px;
        color: rgb(88, 88, 88);
        overflow: hidden;
         text-overflow: ellipsis;
         display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        line-clamp: 3; 
        -webkit-box-orient: vertical;
        margin-bottom: 10px;
        margin-top: 10px;
        }       
        
    

    .hashTags-div {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 8px 0px 8px 0px;
        flex-wrap: wrap;

        .icons-div{
            width: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 4px;
        }

        #tag-icon {
            width: 100%;
            max-width: 25px;
            opacity: 0.6;
        }

    }


}




.div-foto {
    width: 400px;
    height: 250px;


    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.avatar-blog-card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    img {
        width: 60px;
        padding-right: 10px;
    }


    p {
        margin: 0;
        color: rgb(107, 107, 107);
        font-size: 15px;
    }
}






// < / blog card >



// < form modal >



.modal-bg {
    z-index: 99999999;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #bdbdbd, $alpha: 0.4);
    
    .modal-block {
    width: 300px;
    height: 400px;
    position: absolute;
    top: 50vh;
    left: 50%;

    p {
        color: black;
    }


    }

   
}





// </ form modal >





